.container
    h2
        span.rwd-line
            label(for='db') Generate a project with
            select#db.form-control(name='db', v-model.trim='dataBase')
                option(value='MySQL', selected) MySQL
                option(value='MongoDB') MongoDB
    .col-sm-12.col-md-6
        h2 Project Metadata
            p Artifact coordinates
            .form-group(v-bind:class="{ 'has-error': $v.groupId.$error }")
                label.control-label(for='groupId') Group
                input#groupId.form-control(tabindex='4', type='text',
                name='groupId', v-model.trim='groupId', @input='$v.groupId.$touch()')
                span.help-block(v-if='$v.groupId.$error && !$v.groupId.required') groupId is required
                span.help-block(v-if='$v.groupId.$error && !$v.groupId.firstNotNumber') First symbol must not be number
            .form-group(v-bind:class="{ 'has-error': $v.artifactId.$error }")
                label.control-label(for='artifactId') Artifact
                input#artifactId.form-control(tabindex='5', type='text',
                    name='artifactId', v-model.trim='artifactId', @input='$v.artifactId.$touch()')
                span.help-block(v-if='$v.artifactId.$error && !$v.artifactId.required') artifactId is required
                span.help-block(v-if='$v.artifactId.$error && !$v.artifactId.firstNotNumber') First symbol must not be number
            .form-group(v-bind:class="{ 'has-error': $v.userName.$error }")
                label.control-label(for='userName') UserName for DB
                input#userName.form-control(tabindex='5', type='text',
                name='userName', v-model.trim='userName', @input='$v.userName.$touch()')
                span.help-block(v-if='$v.userName.$error && !$v.userName.required') userName is required
            .form-group(v-bind:class="{ 'has-error': $v.password.$error }")
                label.control-label(for='password') Password for DB
                input#password.form-control(tabindex='5', type='password',
                name='password', v-model.trim='password', @input='$v.password.$touch()')
                span.help-block(v-if='$v.password.$error && !$v.password.required') password is required
            .form-group.full.hidden
                label.control-label(for='name') Name
                input#name.form-control(tabindex='6', type='text', name='name', v-model.trim='name')
                span.help-block(v-if='$v.name.$error && !$v.name.firstNotNumber') First symbol must not be number
            .form-group.full.hidden
                label.control-label(for='packageName') Package Name
                input#packageName.form-control(tabindex='8', type='text',
                    name='packageName', v-model.trim='packageName')
                span.help-block(v-if='$v.packageName.$error && !$v.packageName.firstNotNumber') First symbol must not be number
            .form-group.full.hidden
                label.control-label(for='javaVersion') Java Version
                select#javaVersion.form-control(tabindex='10', name='javaVersion', v-model.trim='javaVersion')
                    option(value='1.8', selected) 8
    label.switcher(v-on:click='switchVersion') {{ text }}